//
   Created by Administrator on 2017/8/6.
html
    head

    body
        div(style=json, class=arr)
        div(style=json, class=arr)
        div(style=json, class=arr, class='active')
        div(style=json, class=arr)
        div(style=json, class=arr)


